.profile-card {
  max-width: var(--card-width);
  width: 100%;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--profile-card-shadow);
  border-radius: var(--radius-lg);
  position: relative;
  padding: 25px;
}

.profile-card__avatar > img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: var(--radius-full);
  object-fit: cover;
  margin-bottom: var(--space-md);
  box-shadow: var(--shadow-sm);
  border: var(--border-external);
  outline: var(--border-internal);
  outline-offset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card__avatar {
  z-index: 1000;
}

.profile-card__header {
  z-index: 10;
}

.profile-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36%;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  background-color: var(--color-primary);
}

.profile-card__description {
  font-size: var(--font-size-lg);
}

.profile-card__avatar > source {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: var(--radius-full);
  object-fit: cover;
  margin-bottom: var(--space-md);
  box-shadow: var(--shadow-sm);
  padding: 3px;
}

.profile-card__socials-list {
  display: flex;
  align-items: center;
  margin-top: var(--space-md);
}

.profile-card__socials-item > a {
  margin: 0 8px;
  width: var(--icon-size);
  height: var(--icon-size);
}

.profile-card__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 25px;
}

.profile-card__content {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-text-primary);
}

.profile-card__stats {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-card__stat:nth-child(-n + 2) {
  border-right: 1px solid var(--color-border);
}

.profile-card__stat {
  padding: 0 24px;
}

.profile-card__stat-number {
  padding-left: 28px;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer;
}

.profile-card__stat-number:hover {
  color: var(--color-primary);
}

.profile-card__stat-number:hover.like::before,
.profile-card__stat-number:hover.chat::before,
.profile-card__stat-number:hover.reply::before {
  background-color: var(--color-primary);
}

.like::before {
  content: '';
  width: 17px;
  height: 17px;
  position: absolute;
  left: 10px;
  top: 49%;
  transform: translateY(-50%);
  background-color: var(--color-text-primary);

  -webkit-mask-image: url('/icons/like.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: url('/icons/like.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.chat::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-text-primary);
  -webkit-mask-image: url('/icons/chat.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: url('/icons/chat.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.reply::before {
  content: '';
  width: 20px;
  height: 20px;

  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-text-primary);

  -webkit-mask-image: url('/icons/share.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: url('/icons/share.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
